name: ETL + dbt job

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r needs.txt

      - name: Run ETL script
        run: python etl.py

      - name: upload file - uses: actions/upload-artifact@v4
        with:
         name: sales.csv
         path: financial_summary_2024.csv
      